{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'js/jquery-ui/jquery-ui.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'js/jquery-ui/jquery-ui.structure.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'js/jquery-ui/jquery-ui.theme.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
{% endblock %}


{% block content %}
<h1>
    <span class="blue"></span>Welcome to Anime Reminder<span class="blue"></span>
    <!-- <span class="yellow">Responsive</pan> -->
</h1>
    
<table id="animetb" class="container">
    <thead>
    <tr>
        <th><h1>Anime Name</h1></th>
        <th><h1></h1></th>
    </tr>
    </thead>
    <tbody id="animetb1">
    <tr>
    </tr>
    </tbody>
</table>
<table class="container">
    <thead>
    <tr>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <h1><a href="#addanime" rel="modal:open" style="text-decoration: none; color: #4DC3FA">+</a></h1>
        </td>
    </tr>
    </tbody>
</table>
<!-- Modal testing -->
<div id="addanime" class="modal">
    <h2>Add New Anime</h2>
    <label for="fname">Anime Name:</label>
    <form name="addanime">
        <input type="text" id="addanimeinput" placeholder="Anime Name">
    </form>
    <button id="addanimebtn" rel="modal:close"><a href="#" rel="modal:close" style="text-decoration: none">Submit</a></button>
</div>
{% endblock %}