{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/user.css') }}">
{% endblock %}

{% block content %}
<h1>
    <span class="blue"></span>Welcome to Anime Reminder<span class="blue"></span>
    <!-- <span class="yellow">Responsive</pan> -->
</h1>
    
<table id="artb" class="container">
    <thead>
    <tr>
        <th><h1>Username</h1></th>
        <!-- <th><h1>Episodes</h1></th> -->
        <th><h1></h1></th>
    </tr>
    </thead>
    <tbody id="usertbbody">
    </tbody>
</table>
<!-- <table class="container">
    <thead>
    <tr>
    </tr>
    </thead>
    <tbody>
    <tr id="addartr">
        <td>
            <h1><a href="#edituser" rel="modal:open" style="text-decoration: none; color: #4DC3FA">+</a></h1>
        </td>
    </tr>
    </tbody>
</table> -->
<div id="edituser" class="modal">
    <h2>Reminder</h2>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src = "{{ url_for('static', filename = 'js/user.js') }}" ></script>
{% endblock %}